html,body {
  background-color: #e2eaef;
  height: 100%;
  padding: 0.6vh 1.5vw 0.6vh 1.5vw;
  user-select: none;
}

.topContainer {
    height: 64%;
    border-radius: 0.75vh;
    box-shadow: 0 0.7vh 1.2vh 0 rgba(0,0,0,0.6), 0 0.7vh 1.8vh 0 rgba(0,0,0,0.19);
}

  .cameraFrameTop {
    background-color: #32393d;
    color: #e2eaef;
    display: flex;
    height: 5.5%;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 0.75vh 0.75vh 0 0;
  }

  .video_container {
    height: 89%;
    overflow: hidden;
    display: block;
    position: relative;
  }
  
  #videoInput {
    width: 100%;
    position: absolute;
    object-fit: cover;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  #canvasgray {
    width: 80%;
    height: auto;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) */
  }




  .cameraFrameBottom {
    background-color: #32393d;
    color: #e2eaef;
    display: flex;
    height: 5.5%;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 0 0 0.75vh 0.75vh;
  }

.bottomContainer {
    height: 36%;
    padding-top: 1vh;
}

  .valueIn {
      color: #32393d;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5vh;
      width: 40%;
  }

  .outputArea {
      color: #32393d;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10vh;
      height: 70%;
  }

  .buttonArea {
      display: flex;
      height: 15%;
      justify-content: space-between;
      align-items: center;
  }

  .modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
  }
    
  .modal.show .modal-dialog {
    transform: translate3d(0, 0, 0);
  }
  
    .modal-dialog {
      position: absolute;
      overflow: hidden;
      margin: 0;
      bottom: 0vh;
      height: 45vh;
      width: 100%;
      max-width: none;
    }
  
      .modal-content {
        background-color: rgba(0,0,0,0);
      }
  
        .modal-header {
          background-color: #32393d;
          height: 3vh;
          border: #32393d;
          border-radius: 0.5vh 0.5vh 0 0;
        }
  
          .modal-title {
            color: #e2eaef;
            font-size: 2.5vh;
            font-weight: bold;
          }
  
            .modal-body {
              background-color: #e2eaef;
              color: #32393d;
              display: grid;
              padding: 0;
            }
  

.button {
    background-color: #32393d;
    color: #e2eaef;
    display: block;
    border: none;
    height: 80%;
    font-size: 2.5vh;
    font-weight: bold;
    box-shadow: 0 0.6vh 1vh 0 rgba(0,0,0,0.6), 0 0.6vh 1.5vh 0 rgba(0,0,0,0.19);
    border-radius: 0.4vh;
}

  .button:active {
    background-color: #5c6063;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.6), 0 3px 10px 0 rgba(0,0,0,0.19);
    transform: translateY(1px);
  }

  .selectButton {
      width: 40%;
    }

  #switchButton {
      width: 15%;
  }


.listButton {
  background-color: #e2eaef;
  color: #32393d;
  padding-left: 5vw;
  text-align: left;
  height: 6vh;
  width: 100%;
  border: none;
}

.listButton:active {
  background-color: #32393d;
  color: #e2eaef;
}
